.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

.list__item {
  display: flex;
  padding: .3em;
}

.list__item-index,
.list__item-name-first,
.list__item-name-last {
  margin-right: 10px;
}

.button {
  min-width: 300px;
  margin-top: 1em;
  font-size: 30px;
  padding: .7em 1.5em;
  color: #fff;
  background: rgb(212,75,56);
}

.button:hover { background: rgb(232,95,76); }
.button:active { background: rgb(152,15,0); }

.sk-chasing-dots {
  --spinkit-size: 8em;
  --spinkit-spinner-color: #337ab7;
  --animation-duration: 2.0s;

  width: var(--spinkit-size);
  height: var(--spinkit-size);
  position: absolute;
  top: 40%;
  margin: auto;
  text-align: center;
  animation: sk-chasing-dots-rotate var(--animation-duration) infinite linear;
}

.sk-child {
  width: calc(var(--spinkit-size) / 2);
  height: calc(var(--spinkit-size) / 2);
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: var(--spinkit-spinner-color);
  border-radius: 100%;
  animation: sk-chasing-dots-bounce var(--animation-duration) infinite ease-in-out;
}

.sk-dot-2 {
  top: auto;
  bottom: 0;
  animation-delay: calc(var(--animation-duration) / 2);
}

@keyframes sk-chasing-dots-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chasing-dots-bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.0);
  }
}